details > summary {
  list-style-type: none;
  font-weight: bold;
  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: "+";
  font-weight: bold;
}

details[open] > summary::before {
  content: "-";
  font-weight: bold;
}

details {
  border-radius: 0.2rem;
  padding: 0.5rem;
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

label {
  display: block;
}
label span:before {
  content: " ";
}
fieldset fieldset {
  border: none;
  padding: 0 0 0 1ch;
}
